<div class="table-wrapper">
  @if (title) {
    <div class="table-header">
      <h3 class="table-title">{{ title }}</h3>
    </div>
  }
  <div class="table-scroll">
    <table class="table">
      <thead>
        <tr>
          @for (col of columns; track col.key) {
            <th [style.width]="col.width">{{ col.label }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @if (loading) {
          @for (row of [1, 2, 3, 4, 5]; track $index) {
            <tr class="skeleton-row">
              @for (col of columns; track col.key) {
                <td><span class="skeleton"></span></td>
              }
            </tr>
          }
        } @else if (data.length === 0) {
          <tr>
            <td [attr.colspan]="columns.length" class="table-empty">
              {{ emptyMessage }}
            </td>
          </tr>
        } @else {
          @for (row of data; track $index) {
            <tr>
              @for (col of columns; track col.key) {
                <td [title]="getCellValue(row, col)">
                  @if (isBadge(col)) {
                    <span [class]="getBadgeClass(row, col)">
                      {{ getCellValue(row, col) }}
                    </span>
                  } @else {
                    {{ getCellValue(row, col) }}
                  }
                </td>
              }
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>
